<p>Welcome aboard,</p>

<p>You're just about to join a community dedicated to fostering transparency and fairness, whether in business, politics, or the running of our own site. To finish your registration, simply confirm your email address by clicking the link below:</p>

<p class="center"><%= link_to 'Confirm My Email', confirmation_url(@resource, :confirmation_token => @token) %></p>
