<p>Welcome aboard,</p>

<p>You're just about to join a community that's struggling to bring transparency and fairness back to the public sphere, whether in business, politics, or media. To complete your registration and gain access to all our site's functionality, simply confirm your email address:</p>

<p class="center"><%= link_to 'Confirm My Email', confirmation_url(@resource, :confirmation_token => @token) %></p>
