<p>Welcome aboard,</p>

<p>You're just about to join a community that's dedicated to bringing transparency and fairness back to the public sphere, whether in business, politics, or the functioning of our own site. To finish your registration, simply confirm this email address:</p>

<p class="center"><%= link_to 'Confirm My Email', confirmation_url(@resource, :confirmation_token => @token) %></p>
